body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(196, 233, 255);
    text-align: center;
    padding: 35px
}
.button {
    display: inline-block;
    padding: 12px 24px;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.button:hover {
    background: #45a049;
}